
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav class="flex">
            <ul>
                <li>
                    <a href="/">
                        <button>home</button>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/users/login">
                        <button>login</button>
                    </a>
                    </li>
                    <li>
                    <a href="/users/register">
                        <button>Register</button>
                    </a>
                </li>
                <li>
                    <a href="/auth/google">login with google</a>
                </li>
                <li>
                    <a href="/auth/github">login with github</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
